<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>My site</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">
            <li><a href="/">HOME</a></li>
            <li><a href="/EditItem">Edit Item</a></li>
              <li><a href="/AddVariant">Add Variant</a></li>
            <li><a href="/AddItem">Add Item</a> </li>
            <li><a href="/MyVendor">VendorPage</a> </li>
            <li><a href="/VendorOrders">Orders</a></li>
              <li><a href="/Products">Products</a> </li>
              <li><a href="/ReviewsVendor">Reviews</a> </li>
          </ul>
        </div>
      </div>
    </header>
    <h1>Add Item</h1>
    <div class="container">
    <div class="body">
        {% if success %}
            <h2>{{ success }}</h2>
        {% endif %}
             <h3>Add Item Variant</h3>
            <form action="/AddVariant" method="POST">
                <input type="text" name="item_id" placeholder="item id" class="input_field" autocomplete="off"> <br>
                <input type="text" name="image" placeholder="image" class="input_field" autocomplete="off"> <br>
                <input type="text" name="size" placeholder="size" class="input_field" autocomplete="off"> <br>
                <input type="text" name="color" placeholder="color" class="input_field" autocomplete="off"> <br>
                <input type="text" name="price" placeholder="price" class="input_field" autocomplete="off"> <br>
                <input type="text" name="inventory_count" placeholder="inventory" class="input_field" autocomplete="off"> <br>
                <input type="submit" value="Submit" class="input_submit">
                {{message}}
            </form>


    </div>
</div>
  <div class="footer">
    <p>©UBuy Shopping   </p>
  </div>


  </body>
</html>


