<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>My site</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">

           <li><a href="/">HOME</a></li>
            <li><a href="/MyAdmin">My Admin</a></li>
            <li><a href="/AddItemAdmin">Edit Item</a> </li>
            <li><a href="/OrdersAdmin">Orders</a></li>
            <li><a href="/Reviews">Reviews</a></li>
              <li><a href="/ReturnsAdmin">Returns</a></li>
          </ul>
        </div>
      </div>
    </header>
    <h1>UBuy Shopping</h1>
    <div class="store">
                {% for item in items %}
    <div class="shop-item">
        <h4 class="shop-item-title">{{item.title}}</h4>
        <img class="shop-item-image" src="../static/images/{{item.image}}">
        <p class="shop-item-title">Size: {{item.size}}</p>
        <p class="shop-item-title">Color: {{item.color}}</p>
        <p class="shop-item-title">Price: {{item.price}}</p>
        <p class="shop-item-title">Order Status: {{item.order_status}}</p>
        <form action="approve2" method="POST">
            <input type="hidden" name="order_id" value="{{item.order_id}}">
            <input type="submit" value="Confirm Order" class="input_submit">
        </form>
    </div>
                {% endfor %}
    </div>
  <div class="footer">
    <p>©UBuy Shopping</p>
  </div>


  </body>
</html>