<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>My site</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">

            <li><a href="/">HOME</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/dashboard">Login</a> </li>
            <li><a href="/transfer">Transfer</a></li>
            <li><a href="/createaccount">Admin</a></li>
            <li><a href="/deposit">Deposit</a></li>
          </ul>
        </div>
      </div>
    </header>
    <h1>First Choice Banking</h1>
    {% block body %}
    {% endblock %}

  </body>
</html>