<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>My site</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">

            <li><a href="/">Home</a></li>
              <li><a href="/MyUser">My Account</a></li>
              <li><a href="/Shop">Shop</a></li>
            <li><a href="/Cart">Cart</a></li>
            <li><a href="/Reviews">Reviews</a></li>
              <li><a href="/Orders">Orders</a></li>
          </ul>
        </div>
      </div>
    </header>
    <h1>UBuy Shopping</h1>
  {% for item in items %}
    <div class="cart-row">
      <ul class="nobullet">
        <li>{{item.item_title}}</li>
      </ul>
      <img class="shop-item-image" src="../static/images/{{item.image}}">
      <ul class="nobullet">
        <li>Price: {{item.price}}</li>
        <li>Color: {{item.color}}</li>
        <li>Size: {{item.size}}</li>
        <li>Quantity: {{item.quantity}}</li>
      </ul>
      <form action="order" method="post" class="center">
        <input type="hidden" name="vendor_id" value="{{item.vendor_id}}">
        <input type="hidden" name="variant_id" value="{{item.variant_id}}">
        <input type="hidden" name="item_title" value="{{item.item_title}}">
        <input type="hidden" name="size" value="{{item.size}}">
        <input type="hidden" name="price" value="{{item.price}}">
        <input type="hidden" name="color" value="{{item.color}}">
        <input type="hidden" name="quantity" value="{{item.inventory_count}}">
        <input type="hidden" name="image" value="{{item.image}}">
        <input type="submit" value="Confirm Order">
      </form>
    
  </div>
    {% endfor %}
  <div class="footer">
    <p>©UBuy Shopping</p>
  </div>


  </body>
</html>