{% extends "base.html"%}
{% block body%}
<div class="container">
    <h1 class="top">UBuy</h1>
    <p class="landing">Welcome to UBuy, A Multi Vendor Ecommerce Web Service</p>
    <div class="buttons">
        <input type="submit" value="Customer" onclick="window.location.href='Customer'" class="input_submit">
        <input type="submit" value="Vendor" onclick="window.location.href='Vendor'" class="input_submit">
        <input type="submit" value="Admin" onclick="window.location.href='Admin'" class="input_submit">
    </div>
</div>
{% endblock%}

