<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>My site</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">

           <li><a href="/">HOME</a></li>
            <li><a href="/MyAdmin">My Admin</a></li>
            <li><a href="/AddItemAdmin">Edit Item</a> </li>
            <li><a href="/OrdersAdmin">Orders</a></li>
            <li><a href="/Reviews">Reviews</a></li>
              <li><a href="/ReturnsAdmin">Returns</a></li>
              <li><a href="/AdminProducts">Products</a></li>
          </ul>
        </div>
      </div>
    </header>
    <h1>UBuy Shopping</h1>
    <div class="container">
        <div class="body">
            {% if success %}
             <h2>{{ success }}</h2>
            {% endif %}
                <form class="form">
                    <div class="form_container">
                        <p>User ID: {{user[0]}} </p>
                        <p>Name: {{user[1]}}</p>
                        <p>Email:{{user[2]}}</p>
                        <p>Username:{{user[3]}} </p>
                    </div>
                </form>
        </div>
    </div>
  <div class="footer">
    <p>©UBuy Shopping    </p>
  </div>


  </body>
</html>
