<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>My site</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">

            <li><a href="/">HOME</a></li>
            <li><a href="/Customer">Customer</a></li>
            <li><a href="/Vendor">Vendor</a> </li>
            <li><a href="/Admin">Admin</a> </li>

          </ul>
        </div>
      </div>
    </header>
    <h1>UBuy Shopping</h1>
    {% for item in reviews %}
    <div class="cart-row">
      <ul class="nobullet">
        <li>{{item.item_title}}</li>
      </ul>
      <img class="shop-item-image" src="../static/images/{{item.image}}">
      <ul class="nobullet">
        <li>Price: {{item.price}}</li>
        <li>Color: {{item.color}}</li>
        <li>Size: {{item.size}}</li>
      </ul>
      <p>Review: {{item.review_message}}</p>
      <p>Rating: {{item.rating}}/10</p>


  </div>
    {% endfor %}
  <div class="footer">
    <p>©UBuy Shopping    </p>
  </div>


  </body>
</html>