.barItem{
  display: inline-block;
   text-color:#89cff0;
   color: #89cff0;
}

.logo {
  width: 45px;
}

header li {
  float: left;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
}

.topBar{
  background-color: #000080;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
}

.formSection {
  padding: 10px;
  right: 0;
}

.input, .barItem input{
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.mainDiv {
  margin: auto;
  width: 30%;

}

h1{
  text-align: center;
  font-size: 3.7rem

  color: #000080;
}

.top {
 text-align: center;
  font-size: 3.7rem;
  color: #000080;
 font-style:italic;
}

header a{
  text-decoration:none;
  color:black;
}

/* FOOTER */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  align-items: start;
  min-height: 100vh;
}

.nav__ul a {
  color: #89cff0;
  text-color: #89cff0;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

  .nav__item--extra {
    flex-grow: 2;
  }

.input_field {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .input_submit {
      width: 100%;
      background-color: #000080;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: solid 2px;
      border-radius: 12px;
      cursor: pointer;
    }

    .input_submit:hover {
      background-color: #89cff0;
      border-color: #000080
    }

.body{
        margin: auto;
    }
p{
text-align: center;
font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.buttons{
   width: 75px
   text-align: center
}


#Payment {
    width: 100vw;
	min-height: 200px;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.paycon {
    margin: 125px;
    background: lightgray;
	width: 625px;
	min-height: fit-content;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
    border: solid;
    border-radius: 2%;
}
h2{
    font-size: 200%;
}


.footer {
display: flexbox;
position: fixed;
bottom:0px;
margin-top: 50px;
height: auto;
width: 100vw ;
background-color: #89cff0;
}

.footer p {
margin-left: 1130px;
font-size:12px;
}


 .shop-item {
    width: 275px;
    margin: 30px;
    border: solid;
    display: inline-block;
    }

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

.shop-item-image {
    height: 250px;
    width: 250px;
    float: left;
    margin: auto 0;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
    border: solid red;

}

.shop-item-price {
    color: black;
    border: solid;
}

.left {
margin-right: 40px;
float: left;
}
.right {
margin-left: 40px;
float: right;
}

.store{
display: flex
   overflow-x:hidden;

}

.cart-row {
display: flexbox;
border: solid;
margin: auto;
}

.nobullet{
list-style-type: none;
}


body{
padding-bottom: 200px
}

.landing {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
}